<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Serif:wght@100&family=Playfair+Display&display=swap" rel="stylesheet">
    <title>My Book Reviews</title>
</head>

<body class="vph flex column">
    <% if (locals.error) { %> <h1><%=error%></h1> <%}%>
    <% reviews.forEach(data => { %>
<div class="flex center rows">
    <form class="grid-post"  method="get" action="/update">
        <div class="grid-name">
            <label class="header" >Title:</label>
            <textarea type="text" name="name" id="name" placeholder="Title"><%= data.name %></textarea>
        </div>
        <div class="grid-rating">
            <label class="header" >Rating:</label>
            <input type="number" name="rating" value="<%= data.rating  %>" id="rating" placeholder="Rating">
        </div>
        <div class="grid-isbn">
            <label class="header" >ISBN-Number:</label>
            <input type="number" name="isbn" value="<%= data.isbn  %>" id="isbn" placeholder="ISBN-Number">
        </div>
        <div class="grid-review">
            <label class="header" >Review:</label>
            <textarea type="text" class="review-feld" name="review"  placeholder="Review"><%= data.review %></textarea>
        </div>
        <%const date = new Date();%>
        <input type="hidden" name="monat" id="datum" value="<%= date.getMonth() + 1;%>">
        <input type="hidden" name="jahr" id="datum" value="<%= date.getFullYear();%>"> 
        <input type="hidden" name="tag" id="datum" value="<%= date.getDate(); %>">    
        <button class="btn grid-button" type="submit">Post Update</button>

</form>


<%}); %>
</div>


    <%- include('partials/footer.ejs') %>